<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
</head>

<body>
  <style></style><span class="preheader"></span>
  <table class="body">
    <tbody>
      <tr>
        <td class="center" valign="top" align="center">
          <center data-parsed="">
            <table class="container header float-center" align="center">
              <tbody>
                <tr>
                  <td>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tbody>
                                <tr>
                                  <th>
                                    <h1 class="text-center">Soy de Temporada</h1></th>
                                  <th class="expander"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="container body-border float-center" align="center">
              <tbody>
                <tr>
                  <td>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tbody>
                                <tr>
                                  <th>
                                    <table class="spacer">
                                      <tbody>
                                        <tr>
                                          <td style="font-size:32px;line-height:32px" height="32px">&amp;nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <center data-parsed=""><img src="{{base_url}}/img/icons/cereza.png" class="float-center" align="middle"></center>
                                    <table class="spacer">
                                      <tbody>
                                        <tr>
                                          <td style="font-size:16px;line-height:16px" height="16px">&amp;nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <h4>{{name}} [{{email}}] nos escribió el siguiente mensaje:</h4>
                                    <p style="padding:1em;background:#FAFAFA;border-radius:5px;">{{message}}</p>
                                    <p>No olvidemos contestarle pronto!</p>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td style="font-size:16px;line-height:16px" height="16px">&amp;nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;
    &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;</div>
</body>

</html>
